@model MVCProjeto_Livraria.Models.MvcLivroModel

@{
    ViewBag.Title = "Delete";
}

<h2>Exclusão</h2>


    <h3>Tem certeza que deseja excluir este livro?</h3>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal" display="flex" flex-flow="row wrap">

            <dt>
                @Html.DisplayNameFor(model => model.ISBNID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ISBNID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AUTOR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AUTOR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PRECO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRECO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DTPUBLIC)
            </dt>

            <dd>
                @Model.DTPUBLIC.ToString("dd/MM/yyyy")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IMGCAPA)
            </dt>

            <dd>
                @if (Model.IMGCAPA == null)
                {
                    @Html.DisplayFor(model => model.IMGCAPA)
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.IMGCAPA);
                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                    <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
                }


            </dd>


        </dl>

        @using (Html.BeginForm("Delete", "Livros", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()            

            <div class="form-actions no-color">
                <input type="submit" value="Excluir" class="btn btn-default" onclick="Delete(@Model.ISBNID)"/> 
                @Html.ActionLink("Voltar para a Listagem", "Index")
            </div>
        }
    </div>
